.selected{
  color: orange;
}
li {
  list-style: none;
  cursor: pointer;
  width: 300px;
}
.txt {
  background-color: yellowgreen;
}
span {
  margin-right: 3px;
}

.caret {
  font-size: 10px;
}
.glyphicon-chevron-right {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .glyphicon-chevron-left {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
  }
  
  .glyphicon-chevron-up {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
  }
  
  .glyphicon-chevron-down {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }